# Python
__pycache__/
*.pyc

# Datos pesados
data/
*.csv

# Claves
*.pem
*.ppk

# Basura de AWS EC2
nohup.out
swapfile

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# FastAPI temp (si no va en proyecto final)
FastAPI/

# Docs locales
docs/
