# =========================
# Core Python / HTTP
# =========================
requests>=2.31.0

# =========================
# AWS SDK
# =========================
boto3>=1.42.29

# =========================
# Data processing
# =========================
pandas>=2.1.0
numpy>=1.26.0

# =========================
# PostgreSQL / SQL
# =========================
psycopg2-binary>=2.9.11
pg8000>=1.30.5
SQLAlchemy>=2.0.39
