# Servidor y API
fastapi
uvicorn
pydantic

# Ciencia de Datos y ML
pandas
numpy
xgboost
joblib
scikit-learn

# IA y Lenguaje Natural
google-generativeai

# Base de Datos
psycopg2-binary

# Visualización (Gráficos)
matplotlib
seaborn